.search-form {
  padding: 70px 70px 10px 70px;
}

.search-form__container {
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 9px;
  background: #2f2f2f;
  justify-content: space-between;
}

.search-form__underline {
  border-bottom: 1px solid #424242;
  margin-top: 69px;
}

.search-form__form {
  position: relative;
  max-width: 1087px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-form__icon {
  height: 34px;
  width: 34px;
  margin: 0 10px 0 19px;
}

.search-form__input-container {
  width: 100%;
  display: flex;
  border-right: 1px solid #424242;
}

.search-form__input {
  width: 100%;
  max-height: 40px;
  box-sizing: border-box;
  border: none;
  outline: none;
  background: transparent;
  color: #ffffff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  padding: 0;
}

.search-form__input:focus {
  outline: 1px solid #4286f47a;
}

#name #email::-webkit-input-placeholder {
  color: #8b8b8b;
}

.search-form__button {
  height: 34px;
  max-width: 59px;
  width: 100%;
  margin: 0 30px 0 21px;
  border-radius: 48px;
  background: #4285f4;
  border: none;
  padding: 0;
  color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  outline: none;
}

.search-form__button:hover {
  opacity: 0.8;
  transition: opacity 0.5s;
  cursor: pointer;
}

.search-form__button:disabled,
.search-form__button[disabled] {
  background: #666666;
}

.search-form__error {
  position: absolute;
  top: 55px;
  left: 0;
  display: none;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.search-form__error_active {
  display: block;
}

@media screen and (max-width: 768px) {
  .search-form {
    padding: 80px 30px 10px 30px;
  }
  .search-form__underline {
    margin-top: 109px;
  }
  .search-form__button {
    margin: 0 19px 0 21px;
  }
}

@media screen and (max-width: 550px) {
  .search-form {
    padding: 80px 10px 10px 10px;
  }
  .search-form__underline {
    margin-top: 0;
  }
  .search-form__icon {
    display: none;
  }
  .search-form__container {
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 9px;
    background: transparent;
  }
  .search-form__form {
    flex-direction: column;
  }
  .search-form__input-container {
    border-right: none;
    padding: 19px 0 19px 0;
    width: 100%;
    display: flex;
    border-radius: 9px;
    background: #2f2f2f;
    align-items: center;
  }
  .search-form__input {
    margin-left: 19px;
    font-size: 14px;
  }
  .search-form__error {
    margin-left: 19px;
  }
  .search-form__button {
    margin: 0 19px 0 21px;
  }
}
