.technologies {
  background: #272727;
  max-height: 625px;
  padding: 100px 70px 100px 70px;
}

.technologies__title {
  margin: 0;
  padding-bottom: 23px;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  border-bottom: 1px solid #dadada;
}

.technologies__container {
  padding: 90px 0 100px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.technologies__text-title {
  margin: 0;
  max-width: 600px;
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.technologies__text-subtitle {
  margin: 26px 0 0 0;
  max-width: 460px;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
}

.technologies__links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.technologies__list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  list-style: none;
}

.technologies__link {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  background: #303030;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 768px) {
  .technologies {
    max-height: 567px;
    padding: 90px 50px 90px 50px;
  }
  .technologies__link {
    width: 84px;
    height: 57px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: -0.04em;
  }
}

@media screen and (max-width: 425px) {
  .technologies {
    max-height: 651px;
    padding: 70px 18px 70px 18px;
  }
  .technologies__title {
    padding-bottom: 28px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.04em;
  }
  .technologies__container {
    padding: 60px 0 50px 0;
  }
  .technologies__text-title {
    font-size: 30px;
    line-height: 36px;
    letter-spacing: -0.04em;
  }
  .technologies__text-subtitle {
    margin-top: 24px;
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.04em;
  }
  .technologies__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
